<main>
  <p class="bg-emerald-600 text-white px-6 py-2 empty:hidden" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="bg-red-600 text-white px-6 py-2 empty:hidden" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
