<.page_layout context={@context}>
  <main>
    <p class="bg-emerald-600 text-white px-6 py-2 empty:hidden" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
    <p class="bg-red-600 text-white px-6 py-2 empty:hidden" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
    <%= @inner_content %>
  </main>
</.page_layout>
