<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hamsat", suffix: " · Hamsat" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="text-gray-900 bg-gray-200">
    <div class="mt-4 mx-4 px-6 py-2 flex items-center justify-between rounded-t-xl bg-gray-700 text-white shadow-md">
      <div class="flex items-center">
        <div class="text-lg font-medium mr-8">
          Hams.at
          <span class="uppercase rounded bg-orange-600 text-white text-sm px-2 py-1 ml-1 font-semibold">Beta</span>
        </div>
        <.nav_pill_button to={Routes.dashboard_path(@conn, :show)} conn={@conn} active={~r/^(\/$)/}>Home</.nav_pill_button>
        <.nav_pill_button to={Routes.alerts_path(@conn, :index)} conn={@conn} active={~r/^(\/alerts)/}>Activations</.nav_pill_button>
        <.nav_pill_button to={Routes.passes_path(@conn, :index)} conn={@conn} active={~r/^\/passes/}>Passes</.nav_pill_button>
        <.nav_pill_button to={Routes.location_path(@conn, :edit)} conn={@conn} active={~r/^\/location/}>
          <%= location_nav_button_text(@context) %>
        </.nav_pill_button>
      </div>
      <%= render "_user_menu.html", assigns %>
    </div>

    <div class="mx-4 bg-white shadow-md rounded-b-xl mb-4 overflow-hidden">
      <%= @inner_content %>
    </div>

    <div class="my-6 text-center text-sm text-gray-500">
      by WW1X · <%= link "About", to: Routes.page_path(@conn, :about), class: "hover:underline hover:text-gray-700" %>
    </div>
  </body>
</html>
