<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "Hamsat", suffix: " · Hamsat") %>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="text-gray-900 bg-gray-200">
    <div class="md:mt-4 md:mx-4 md:px-6 md:py-2 px-3 py-1 flex items-center justify-between md:rounded-t-xl bg-gray-700 text-white shadow-md">
      <div class="flex items-center">
        <%= link to: ~p"/", class: "text-lg font-medium md:mr-8" do %>
          Hams.at
          <span class="hidden md:inline uppercase rounded bg-orange-600 text-white text-sm px-2 py-1 ml-1 font-semibold">
            Beta
          </span>
        <% end %>

        <div class="hidden md:flex items-center">
          <.nav_pill_button to={~p"/alerts"} conn={@conn} active={~r/^(\/alerts)/}>
            Activations
          </.nav_pill_button>
          <.nav_pill_button to={~p"/passes"} conn={@conn} active={~r/^\/passes/}>
            Passes
          </.nav_pill_button>
          <.nav_pill_button to={~p"/location"} conn={@conn} active={~r/^\/location/}>
            <.location_nav_button_text context={@context} />
          </.nav_pill_button>
        </div>
      </div>

      <div class="hidden md:flex items-center">
        <%= if @current_user do %>
          <.nav_pill_button to={~p"/users/settings"} conn={@conn} active={~r/^\/users\/settings/}>
            <Heroicons.LiveView.icon name="cog" type="solid" class="h-6 w-6" />
          </.nav_pill_button>
          <.nav_pill_button to={~p"/users/log_out"} conn={@conn} method={:delete}>
            Log Out
          </.nav_pill_button>
        <% else %>
          <.nav_pill_button to={~p"/users/register"} conn={@conn} active={~r/^\/users\/register/}>
            Register
          </.nav_pill_button>
          <.nav_pill_button to={~p"/users/log_in"} conn={@conn} active={~r/^\/users\/log_in/}>
            Log In
          </.nav_pill_button>
        <% end %>
      </div>

      <div class="md:hidden flex items-center">
        <.nav_pill_button to={~p"/alerts"} conn={@conn} active={~r/^(\/alerts)/}>
          <Heroicons.LiveView.icon name="calendar" type="outline" class="h-6 w-6" />
        </.nav_pill_button>
        <.nav_pill_button to={~p"/passes"} conn={@conn} active={~r/^\/passes/}>
          <Heroicons.LiveView.icon name="table" type="outline" class="h-6 w-6" />
        </.nav_pill_button>
        <.nav_pill_button to={~p"/location"} conn={@conn} active={~r/^\/location/}>
          <.location_nav_button_text context={@context} />
        </.nav_pill_button>

        <button class="btn-nav" data-toggle="mobile-nav-extras">
          <Heroicons.LiveView.icon name="user" type="solid" class="h-6 w-6" />
        </button>
      </div>
    </div>

    <div id="mobile-nav-extras" class="p-3 hidden md:hidden bg-gray-800 text-white font-medium">
      <div class="flex justify-between items-start">
        <div>
          <%= if @current_user do %>
            <%= link("Settings", to: ~p"/users/settings", class: "block py-2") %>
            <%= link("Log Out", to: ~p"/users/log_out", class: "block py-2", method: :delete) %>
          <% else %>
            <%= link("Register", to: ~p"/users/register", class: "block py-2") %>
            <%= link("Sign In", to: ~p"/users/log_in", class: "block py-2") %>
          <% end %>
        </div>
        <div>
          <button data-toggle="mobile-nav-extras">
            <Heroicons.LiveView.icon name="x" type="solid" class="h-6 w-6 text-gray-400 m-2" />
          </button>
        </div>
      </div>
    </div>

    <div class="md:mx-4 bg-white shadow-md md:rounded-b-xl mb-4 overflow-hidden">
      <%= @inner_content %>
    </div>

    <div class="my-6 text-center text-sm text-gray-500">
      All times <%= link(timezone_name(@context.timezone),
        to: ~p"/location",
        class: "hover:underline hover:text-gray-700"
      ) %> ·
      By WW1X · <%= link("About", to: ~p"/about", class: "hover:underline hover:text-gray-700") %>
    </div>
  </body>
</html>
