<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hamsat", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="w-full px-4 py-2 border-b flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <div class="text-lg font-medium">SatSpot</div>
        <%= link "Alerts", to: Routes.alerts_path(@conn, :index) %>
        <%= link "Passes", to: Routes.passes_path(@conn, :index) %>
        <%= link "Location", to: Routes.location_path(@conn, :edit) %>
      </div>
      <div class="flex items-center space-x-4">
        <div>whoa</div>
        <div>nelly</div>
      </div>
    </div>

    <%= @inner_content %>
  </body>
</html>
