<div phx-update="ignore" id="location-picker-map-container" class="h-full">
  <div
    id="location-tracker-map"
    style={"height: #{@height}"}
    phx-hook="LeafletTracker"
    data-mapbox-access-token={mapbox_access_token()}
    data-observers={Jason.encode!(observer_coords(@observer_positions))}
    data-ground-track={Jason.encode!(@ground_track)}
  >
  </div>
</div>
