<div phx-update="ignore" id="location-picker-map-container">
  <div
    id="location-tracker-map"
    style="height: 400px"
    phx-hook="LeafletTracker"
    data-mapbox-access-token={@mapbox_access_token}
  >
  </div>
</div>
