<div class="p-3 md:p-6">
  <h1 class="text-h2 md:text-h1 mb-6">Set Your Operating Location</h1>

  <div class="w-full lg:w-1/2">
    <%= live_component LocationSetter, id: "location-setter", context: @context, redirect: @redirect_path %>
  </div>
</div>