<.pass_table passes={@passes}>
  <%= for pass <- @passes do %>
    <.pass_table_row context={@context} pass={pass} />
  <% end  %>
</.pass_table>


<%= if @loading? do %>
  <div>Loading...</div>
<% else %>
  <button phx-click="load-more">Load more</button>
<% end %>