<div class="border rounded-lg shadow-md">
    <%= if @alerts == [] do %>
        <div class="p-6 text-gray-400 italic text-center">No upcoming activations have been posted</div>
    <% end %>
    <%= for alert <- @alerts do %>
        <.live_component module={AlertItem} id={"alert-item-#{alert.id}"} alert={alert} now={@now} context={@context} />
    <% end %>
</div>