<div class="border rounded-lg shadow-md">
    <%= if @context.location do %>
        <%= for pass <- @passes do %>
            <.live_component module={PassItem} id={"pass-item-#{pass.id}"} pass={pass} now={@now} context={@context} />
        <% end %>
    <% else %>
        <div class="p-6">
            <%= live_component LocationSetter, id: "location-setter", context: @context, redirect: Routes.dashboard_path(@socket, :show), show_log_in_link?: true %>
        </div>
    <% end %>
</div>