<div class={[@root_class, "border-b last:border-0 p-4"]}>
    <div class="text-gray-500 font-medium text-sm mb-1">
        <SatComponents.pass_event_description pass={@pass} now={@now} />
    </div>
</div>