<tr
  phx-click={JS.navigate(~p"/alerts/#{@alert.id}")}
  class={[@row_class, "cursor-pointer hover:bg-gray-50"]}
  title="Track this pass"
>
  <td class="text-center pl-3">
    <div class="inline-flex items-center gap-1.5">
      <span title="Chat enabled" class={if(@alert.chat_enabled, do: nil, else: "invisible")}>
        <Heroicons.LiveView.icon name="chat-bubble-left-right" type="mini" class="block h-4 w-4 text-gray-400" />
      </span>
      <AlertSaver.component
        alert={@alert}
        context={@context}
        id={"alert-saver-#{@alert.id}"}
        class="inline-flex tabular-nums"
        button_class="rounded bg-gray-200 hover:bg-gray-300 font-medium px-2"
      />
    </div>
  </td>
  <td class="whitespace-nowrap px-1 text-center">
    <%= date(@context, @alert.aos_at) %>
  </td>
  <td class="whitespace-nowrap px-1 text-center">
    <%= short_time(@context, @alert.aos_at) %> &ndash; <%= short_time(@context, @alert.los_at) %>
  </td>
  <td class="whitespace-nowrap px-1 text-center"><%= @alert.callsign %></td>
  <td class="whitespace-nowrap px-1 text-center">
    <button type="button" phx-click={JS.navigate(~p"/sats/#{@alert.sat.number}")} title="Satellite details" class="link">
      <%= @alert.sat.name %>
    </button>&nbsp;&nbsp;<SatComponents.sat_modulation_labels sat={@alert.sat} />
  </td>
  <td class="whitespace-nowrap px-1 text-center"><%= alert_grids(@alert) %></td>
  <td class="whitespace-nowrap px-1 text-center"><%= mhz(@alert) %></td>
  <td class="whitespace-nowrap px-1 text-center"><%= @alert.mode %></td>
  <td class="whitespace-nowrap px-1">
    <%= if @alert.comment do %>
      “<%= @alert.comment %>”
    <% else %>
      –
    <% end %>
  </td>
  <td class="whitespace-nowrap px-1 text-center">
    <%= if @alert.match do %>
      <AlertComponents.match_percentage alert={@alert} />
    <% else %>
      –
    <% end %>
  </td>
  <td class="whitespace-nowrap px-1 text-center">
    <%= if @alert.max_elevation, do: deg(@alert.max_elevation), else: "–" %>
  </td>
  <td class="whitespace-nowrap px-1 text-center text-emerald-700">
    <%= if @alert.is_workable? do %>
      <%= short_time(@context, @alert.workable_start_at) %> &ndash; <%= short_time(@context, @alert.workable_end_at) %>
    <% end %>
  </td>
  <td class="whitespace-nowrap px-1 text-center text-emerald-700">
    <%= @next_workable_in %>
  </td>
  <td class="whitespace-nowrap px-1 text-right px-3">
    <%= if Alert.owned?(@alert, @context.user) do %>
      <button type="button" phx-click={JS.navigate(~p"/alerts/#{@alert.id}/edit")} class="link mr-2 md:mr-4">
        Edit
      </button>
    <% end %>
  </td>
</tr>
