<div class="panel -mx-3 md:mx-0 rounded-none md:rounded-lg border-x-0 md:border-x">
  <%= if @alerts == [] do %>
    <%= render_slot(@empty) %>
  <% end %>
  <%= for alert <- @alerts do %>
    <AlertItem.component
      id={"#{@id}-#{alert.id}"}
      alert={alert}
      now={@now}
      context={@context}
      mine?={Alert.owned?(alert, @context.user)}
    />
  <% end %>
</div>
